### Cineca datasets for Cohort Representation hackathon
The following lists CINECA synthetic datasets with data that could be explored as part of the Cohort Representation hackathon. 

The “CINECA synthetic cohort EUROPE CH SIB” phenotypic has been set up in Data Connect.
https://zenodo.org/record/5082689#.Yg_Yhi-B1qs

Get a Data Connect client

In [14]:
from fasp.search import DataConnectClient
cl = DataConnectClient('http://localhost:8089/')

### Example Data Connect query for EUROPE CH SIB cohort

### Schema listing

The raw listing of the Data Connect schema for the phenotypic data is as follows. The schema has not yet been updated for all columns in the dataset. (Manual process - no machine readable dictionary was found).

In [15]:
cl.listTableInfo('bigquery.cineca.syn_Europe_CH_SIB', verbose=True)

_Schema for tablebigquery.cineca.syn_Europe_CH_SIB_
{
   "name": "bigquery.cineca.syn_Europe_CH_SIB",
   "description": "Scrambled version of sample data for phs001554 Colorectal cancer susceptibility study.",
   "data_model": {
      "$id": "phs001554.v1.pht007610.v1.GECCO_CRC_Susceptibility_Sample_Attributes",
      "description": "Scrambled version of sample data for phs001554 Colorectal cancer susceptibility study.",
      "$schema": "http://json-schema.org/draft-07/schema",
      "properties": {
         "pt": {
            "type": "string",
            "description": "Patient identifier"
         },
         "phyact": {
            "type": "string",
            "oneOf": [
               {
                  "const": ">3WK"
               },
               {
                  "const": "1WK"
               },
               {
                  "const": "2WK"
               },
               {
                  "const": "K"
               },
               {
                  "const": "N"
               }
            ],
            "description": "physical activity"
         },
         "alcfrq": {
            "type": "string",
            "oneOf": [
               {
                  "const": "1D"
               },
               {
                  "const": "2D"
               },
               {
                  "const": "2WK"
               },
               {
                  "const": "3D"
               },
               {
                  "const": "N"
               },
               {
                  "const": "R"
               },
               {
                  "const": "SW"
               }
            ],
            "description": "alcohol use - frequency"
         },
         "sbsmk": {
            "type": "string",
            "oneOf": [
               {
                  "const": "F"
               },
               {
                  "const": "N"
               },
               {
                  "const": "S"
               }
            ],
            "description": "tobacco  use"
         },
         "ethori_self": {
            "type": "string",
            "oneOf": [
               {
                  "const": "A"
               },
               {
                  "const": "B"
               },
               {
                  "const": "K"
               },
               {
                  "const": "O"
               },
               {
                  "const": "W"
               },
               {
                  "const": "X"
               }
            ],
            "description": "Ethnic origin - self reported"
         },
         "wt": {
            "type": "number",
            "$unit": "kg",
            "description": "weight"
         },
         "ht": {
            "type": "number",
            "$unit": "cm",
            "description": "height"
         },
         "HRTRTE": {
            "type": "number",
            "unit": "bpm",
            "description": "heart rate"
         },
         "SBP": {
            "type": "number",
            "$unit": "mmHg",
            "description": "Systolic Blood Pressure"
         },
         "DBP": {
            "type": "number",
            "$unit": "mmHg",
            "description": "Diastolic Blood Pressure"
         },
         "cmatccd1_2": {
            "type": "string",
            "description": "prescription - ATC code"
         },
         "cmatccd1_3": {
            "type": "string",
            "description": "prescription - ATC code"
         }
      },
      "type": "object"
   }
}

#### Example query on blood pressure

In [19]:
query = '''select pt, sbp, dbp 
from bigquery.cineca.syn_Europe_CH_SIB
where SBP > 200 and dbp > 120'''
res = cl.runQuery(query, returnType='dataframe')
res

_Retrieving the query_
____Page1_______________
____Page2_______________
____Page3_______________
____Page4_______________
____Page5_______________
____Page6_______________
____Page7_______________

         pt    sbp    dbp
0  FAKE2773  202.5  128.5
1  FAKE3673  204.5  128.5
2  FAKE5034  215.0  123.5
3  FAKE6022  217.5  128.5
4  FAKE4515  219.0  125.5
5  FAKE6655  219.0  128.0
6  FAKE4653  202.5  121.0
7  FAKE3830  202.5  138.0
8  FAKE1084  204.5  124.0