In [1]:
from fasp.search import DataConnectClient
from fasp.search import mapping as mp

cl = DataConnectClient('https://ga4gh-search-adapter-presto-public.prod.dnastack.com')

#### Specify the table to search and run the query, specifying the columns to retrieve
A data frame is returned

In [2]:
query = 'select * from search_cloud.cshcodeathon.md_value_map limit 100'
res = cl.runQuery(query, returnType='dataframe')
res

_Retrieving the query_
____Page1_______________
____Page2_______________
____Page3_______________
____Page4_______________
____Page5_______________

,table_name,column_name,valuestring,maptovalue
0,COPDGene.Subject_Phenotypes,gender,2,Female
1,COPDGene.Subject_Phenotypes,gender,1,Male
2,search_cloud.cshcodeathon.organoid_profiling_p...,sex,F,Female
3,search_cloud.cshcodeathon.organoid_profiling_p...,sex,N/A,N/A
4,search_cloud.cshcodeathon.organoid_profiling_p...,sex,M,Male

#### Get a mapping for the sex column in the table queried above

In [3]:
query = 'select * from search_cloud.cshcodeathon.md_mapping limit 100'
res = cl.runQuery(query, returnType='dataframe')
res

_Retrieving the query_
____Page1_______________
____Page2_______________
____Page3_______________
____Page4_______________
____Page5_______________

,map_id,table_name,column_name,from_var,to_var,map_type,formula
0,1310,GECCO_CRC_Susceptibility.Subject_Phenotypes,AGE,phv00357185.v1,Age_months,recalc,*12
1,1210,GECCO_CRC_Susceptibility.Subject_Phenotypes,AGE,phv00357185.v1,Age_years,colname,(null)
2,1200,search_cloud.cshcodeathon.organoid_profiling_p...,age,phv00409136.v1,Age_years,colname,(null)
3,1300,search_cloud.cshcodeathon.organoid_profiling_p...,age,phv00409136.v1,Age_months,recalc,*12
4,1130,search_cloud.cshcodeathon.organoid_profiling_p...,sex,phv00409135.v1,MALEFEMALE,terms,(null)
5,1100,GECCO_CRC_Susceptibility.Subject_Phenotypes,RACE,phv00357186.v1,CDISC race,terms,(null)
6,1120,search_cloud.cshcodeathon.organoid_profiling_p...,race,phv00409137.v1,CDISC race,terms,(null)
7,1080,COPDGene.Subject_Phenotypes,race,phv00159572.v4,CDISC Race,terms,(null)
8,1140,COPDGene.Subject_Phenotypes,gender,phv00159571.v4,MALEFEMALE,terms,(null)
9,1110,MESA.AirNRExamMain,race1c,phv00082641.v1,CDISC race,terms,(null)
10,1090,ESP_LungGO_COPDGene.Subject_Phenotypes,ESP_RACE,phv00170989.v1,CDISC race,terms,(null)
11,1230,COPDGene.Subject_Phenotypes,Age_Enroll,phv00159836.v4,Age_years,colname,(null)
12,1330,COPDGene.Subject_Phenotypes,Age_Enroll,phv00159836.v4,Age_months,recalc,*12
13,1320,MESA_ESP_HeartGO.Subject_Phenotypes,ESP_age_baseline,phv00178028.v1,Age_months,recalc,*12
14,1220,MESA_ESP_HeartGO.Subject_Phenotypes,ESP_age_baseline,phv00178028.v1,Age_years,colname,(null)

In [4]:
panc = cl.runQuery('select * from dbgap_demo.scr_ega.scr_egapancreatic_sample_multi limit 100', returnType='dataframe' )
panc

_Retrieving the query_
____Page1_______________
____Page2_______________
____Page3_______________
____Page4_______________
____Page5_______________

,sample_primary_id,sample_submitter_id,disease_site,gender,phenotype,subject_id,ena_checklist,bam_file
0,ERS1485101,Pam04_Germline,Skin_Normal,female,skin tissue,Pam04,ERC000026,PAM04/SS6004367.bam
1,ERS1485076,Pam03_Germline,Muscle_Normal,male,muscle tissue,Pam03,ERC000026,PAM03/SS6004355.bam
2,ERS1485135,Pam13_Germline,Spleen_Normal,male,spleen tissue,Pam13,ERC000026,PAM13/SS6004377.bam
3,ERS1485056,Pam02_LiM7,Liver_Metastasis,male,pancreatic adenocarcinoma,Pam02,ERC000026,PAM02/SS6004350.bam
4,ERS1485057,Pam02_LiM8,Liver_Metastasis,male,pancreatic adenocarcinoma,Pam02,ERC000026,PAM02/SS6004351.bam
5,ERS1485067,Pam02_PT11,Pancreas_Primary_Tumor,male,pancreatic adenocarcinoma,Pam02,ERC000026,PAM02/SS6004352.bam
6,ERS1485070,Pam02_PT14,Pancreas_Primary_Tumor,male,pancreatic adenocarcinoma,Pam02,ERC000026,PAM02/SS6004353.bam
7,ERS1485075,Pam02_PT10,Pancreas_Primary_Tumor,male,pancreatic adenocarcinoma,Pam02,ERC000026,PAM02/SS6004354.bam
8,ERS1485045,Pam02_NoM1,Lymph_Node_Metastasis,male,pancreatic adenocarcinoma,Pam02,ERC000026,PAM02/SS6004341.bam
9,ERS1485046,Pam02_NoM2,Lymph_Node_Metastasis,male,pancreatic adenocarcinoma,Pam02,ERC000026,PAM02/SS6004342.bam
10,ERS1485102,Pam03_PeM1,Peritoneal_Metastasis,male,pancreatic adenocarcinoma,Pam03,ERC000026,PAM03/SS6004368.bam
11,ERS1485103,Pam03_PeM2,Peritoneal_Metastasis,male,pancreatic adenocarcinoma,Pam03,ERC000026,PAM03/SS6004369.bam
12,ERS1485104,Pam03_PeM3,Peritoneal_Metastasis,male,pancreatic adenocarcinoma,Pam03,ERC000026,PAM03/SS6004370.bam
13,ERS1485105,Pam03_PeM4,Peritoneal_Metastasis,male,pancreatic adenocarcinoma,Pam03,ERC000026,PAM03/SS6004371.bam
14,ERS1485106,Pam03_PeM5,Peritoneal_Metastasis,male,pancreatic adenocarcinoma,Pam03,ERC000026,PAM03/SS6004372.bam
15,ERS1485107,Pam03_PeM6,Peritoneal_Metastasis,male,pancreatic adenocarcinoma,Pam03,ERC000026,PAM03/SS6004373.bam
16,ERS1485086,Pam03_LuM1,Lung_Metastasis,male,pancreatic adenocarcinoma,Pam03,ERC000026,PAM03/SS6004361.bam
17,ERS1485087,Pam03_LuM2,Lung_Metastasis,male,pancreatic adenocarcinoma,Pam03,ERC000026,PAM03/SS6004362.bam
18,ERS1485088,Pam03_LuM3,Lung_Metastasis,male,pancreatic adenocarcinoma,Pam03,ERC000026,PAM03/SS6004363.bam
19,ERS1485090,Pam03_PT6,Pancreas_Primary_Tumor,male,pancreatic adenocarcinoma,Pam03,ERC000026,PAM03/SS6004364.bam
20,ERS1485091,Pam03_PT2,Pancreas_Primary_Tumor,male,pancreatic adenocarcinoma,Pam03,ERC000026,PAM03/SS6004365.bam
21,ERS1485092,Pam03_PT1,Pancreas_Primary_Tumor,male,pancreatic adenocarcinoma,Pam03,ERC000026,PAM03/SS6004366.bam
22,ERS1485136,Pam13_PT9,Pancreas_Primary_Tumor,male,pancreatic adenocarcinoma,Pam13,ERC000026,PAM13/SS6004378.bam
23,ERS1485137,Pam13_LiM1,Liver_Metastasis,male,pancreatic adenocarcinoma,Pam13,ERC000026,PAM13/SS6004379.bam
24,ERS1485138,Pam13_LiM2,Liver_Metastasis,male,pancreatic adenocarcinoma,Pam13,ERC000026,PAM13/SS6004380.bam
25,ERS1485139,Pam13_LiM3,Liver_Metastasis,male,pancreatic adenocarcinoma,Pam13,ERC000026,PAM13/SS6004381.bam
26,ERS1485144,Pam13_NoM1,Lymph_Node_Metastasis,male,pancreatic adenocarcinoma,Pam13,ERC000026,PAM13/SS6004386.bam
27,ERS1485140,Pam16_Germline,Normal Pancreas,male,pancreatic adenocarcinoma,Pam16,ERC000026,PAM16/SS6004382.bam
28,ERS1485141,Pam16_PT7,Pancreas_Primary_Tumor,male,pancreatic adenocarcinoma,Pam16,ERC000026,PAM16/SS6004383.bam
29,ERS1485142,Pam16_PT16,Pancreas_Primary_Tumor,male,pancreatic adenocarcinoma,Pam16,ERC000026,PAM16/SS6004384.bam
30,ERS1485143,Pam16_LiM1,Liver_Metastasis,male,pancreatic adenocarcinoma,Pam16,ERC000026,PAM16/SS6004385.bam
31,ERS1485077,Pam04_LiM1,Liver_Metastasis,female,pancreatic adenocarcinoma,Pam04,ERC000026,PAM04/SS6004356.bam
32,ERS1485078,Pam04_LiM2,Liver_Metastasis,female,pancreatic adenocarcinoma,Pam04,ERC000026,PAM04/SS6004357.bam
33,ERS1485079,Pam04_LiM3,Liver_Metastasis,female,pancreatic adenocarcinoma,Pam04,ERC000026,PAM04/SS6004358.bam
34,ERS1485080,Pam04_LiM4,Liver_Metastasis,female,pancreatic adenocarcinoma,Pam04,ERC000026,PAM04/SS6004359.bam
35,ERS1485081,Pam04_LiM5,Liver_Metastasis,female,pancreatic adenocarcinoma,Pam04,ERC000026,PAM04/SS6004360.bam
36,ERS1485119,Pam04_PT39,Pancreas_Primary_Tumor,female,pancreatic adenocarcinoma,Pam04,ERC000026,PAM04/SS6004374.bam
37,ERS1485126,Pam04_PT17,Pancreas_Primary_Tumor,female,pancreatic adenocarcinoma,Pam04,ERC000026,PAM04/SS6004375.bam
38,ERS1485127,Pam04_PT27,Pancreas_Primary_Tumor,female,pancreatic adenocarcinoma,Pam04,ERC000026,PAM04/SS6004376.bam

In [5]:
cl.listCatalog('dbgap_demo')

_Retrieving the table list_
____Page1_______________
dbgap_demo.scr_ega.scr_egapancreatic_files
dbgap_demo.scr_ega.scr_egapancreatic_sample_multi
dbgap_demo.scr_gecco_susceptibility.gecco_sample_acc
dbgap_demo.scr_gecco_susceptibility.phs001554_gecco_sddp_manifest
dbgap_demo.scr_gecco_susceptibility.sample_attributes_multi
dbgap_demo.scr_gecco_susceptibility.sample_multi
dbgap_demo.scr_gecco_susceptibility.sb_drs_index
dbgap_demo.scr_gecco_susceptibility.subject_multi
dbgap_demo.scr_gecco_susceptibility.subject_phenotypes_multi

#### Transform the column
Use the replace function of the dataframe to use the data provided by the mapping

In [6]:
ti = cl.listTableInfo('dbgap_demo.scr_ega.scr_egapancreatic_sample_multi')
props = ti.schema['data_model']['properties']
print (props.keys())

dict_keys(['gender', 'bam_file', 'phenotype', 'subject_id', 'disease_site', 'ena-checklist', 'sample_primary_id', 'sample_submitter_id'])

In [7]:
panc.describe()

,sample_primary_id,sample_submitter_id,disease_site,gender,phenotype,subject_id,ena_checklist,bam_file
count,39,39,39,39,39,39,39,39
unique,39,39,9,2,4,5,1,39
top,ERS1485138,Pam02_NoM1,Pancreas_Primary_Tumor,male,pancreatic adenocarcinoma,Pam03,ERC000026,PAM04/SS6004376.bam
freq,1,1,12,30,36,13,39,1

In [8]:
panc.dtypes

sample_primary_id      object
sample_submitter_id    object
disease_site           object
gender                 object
phenotype              object
subject_id             object
ena_checklist          object
bam_file               object
dtype: object

In [9]:
panc.size

312

In [10]:
panc.keys()

Index(['sample_primary_id', 'sample_submitter_id', 'disease_site', 'gender',
       'phenotype', 'subject_id', 'ena_checklist', 'bam_file'],
      dtype='object')

In [11]:
panc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sample_primary_id    39 non-null     object
 1   sample_submitter_id  39 non-null     object
 2   disease_site         39 non-null     object
 3   gender               39 non-null     object
 4   phenotype            39 non-null     object
 5   subject_id           39 non-null     object
 6   ena_checklist        39 non-null     object
 7   bam_file             39 non-null     object
dtypes: object(8)
memory usage: 2.6+ KB

In [12]:
panc.shape[0]

39

In [13]:
len(panc.index)

39

In [14]:
gec = cl.runQuery('select * from dbgap_demo.scr_gecco_susceptibility.subject_phenotypes_multi limit 300', returnType='dataframe')
gec

_Retrieving the query_
____Page1_______________
____Page2_______________
____Page3_______________
____Page4_______________
____Page5_______________

,dbgap_subject_id,subject_id,affection_status,sex,age,race,ethnicity,study
0,2474312,95363,Case,Female,46,White,Unknown,NHS
1,2473610,78277,Control,Female,46,White,Unknown,NHS
2,2474054,93264,Case,Female,47,White,Unknown,NHS
3,2472925,118146,Control,Female,47,White,Unknown,NHS
4,2473792,78473,Control,Female,48,White,Unknown,NHS
...,...,...,...,...,...,...,...,...
295,400369,63319,Case,Female,55,White,Unknown,WHI
296,416486,64119,Case,Female,55,White,Unknown,WHI
297,2472281,64343,Case,Female,55,White,Unknown,WHI
298,2472469,117523,Case,Female,55,White,Unknown,WHI
299,2472489,117546,Case,Female,55,White,Unknown,WHI