### Aggregation of federated VUS analyses.
This notebook aggregates the results from executing the VUS analysis on three datasets carried out remotely on different platforms.

See the accompanying notebooks in this folder for the individual analyses.

The following are the DRS ids for the analysis results in the three different systems where they were conducted.

In [1]:
resultsFiles = {'osteosarcoma':'sbcav:6188354bd2f88b031ee29d82',
               'copdgene': 'sbbdc:61888303e6261a31b6ddaf9b',
                'tcga':'sbcgc:6180182b9c5e581c1b22026b'
               }

In [2]:
from fasp.loc import DRSMetaResolver
drsClient = DRSMetaResolver()

Searching the GA4GH registry for org.ga4gh:drs services
GA4GH registry unavailable, cannot get registered DRS services.
Continuing with locally known DRS services.

In [3]:
import requests
import os
def download(url, source):
    response = requests.get(url)
    data = response.json()
    # flatten cooccurrence output
    flat_vus = []
    for k, v in data['cooccurring vus'].items():
        pathogenic_count = len(v['pathogenic variants'])
        ## this is a pythonic way of merging dicts - it is cryptic
        z = {**{"source":source},**{"vus":k}, **v['likelihood data'], **v['allele frequencies'], **{"no_pathogenic_coocurrs":pathogenic_count}}
        flat_vus.append(z)
    return flat_vus

In [4]:
flat_vus = []
for source, drsCurie in resultsFiles.items():
    url = drsClient.getAccessURL(drsCurie,'s3')
    flat_vus = flat_vus + download(url,source)

# turn the array of dicts into a data frame    
import pandas as pd
flat_df = pd.DataFrame(flat_vus)
flat_df

/Users/forei/imfenvs/fasp/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

,source,vus,p1,p2,n,k,likelihood,maxPop,maxPopFreq,cohortFreq,no_pathogenic_coocurrs
0,osteosarcoma,"('13', 32315831, 'G', 'A')",0.015152,0.001,28,1,0.097015,NaN,NaN,0.848485,1
1,osteosarcoma,"('13', 32318080, 'C', 'T')",0.015152,0.001,33,1,0.104188,NaN,NaN,1.000000,1
2,osteosarcoma,"('13', 32318598, 'T', 'C')",0.015152,0.001,32,1,0.102712,NaN,NaN,0.969697,1
3,osteosarcoma,"('13', 32321240, 'G', 'C')",0.015152,0.001,33,1,0.104188,NaN,NaN,1.000000,1
4,osteosarcoma,"('13', 32325741, 'C', 'T')",0.015152,0.001,33,1,0.104188,NaN,NaN,1.000000,1
...,...,...,...,...,...,...,...,...,...,...,...
108,tcga,"('13', 32968591, 'G', 'A')",0.000337,0.001,1383,1,1.186443,NaN,NaN,0.133122,1
109,tcga,"('13', 32962045, 'A', 'C')",0.000337,0.001,204,1,2.594216,NaN,NaN,0.019636,1
110,tcga,"('13', 32962088, 'C', 'T')",0.000337,0.001,144,1,2.699582,NaN,NaN,0.013861,1
111,tcga,"('13', 32893791, 'A', 'G')",0.000337,0.001,61,1,2.852431,NaN,NaN,0.005872,1
112,tcga,"('13', 32961189, 'G', 'GC')",0.000337,0.001,180,1,2.635860,NaN,NaN,0.017326,1

In [5]:
merged_df = flat_df.pivot(index='vus', columns='source', values=['n','cohortFreq','no_pathogenic_coocurrs'])

In [6]:
pd.set_option('display.max_rows',100)
merged_df

                                           n                       cohortFreq  \
source                              copdgene osteosarcoma     tcga   copdgene
vus
('13', 32315831, 'G', 'A')            9345.0         28.0      NaN   0.914742
('13', 32318080, 'C', 'T')           10195.0         33.0      NaN   0.997944
('13', 32318598, 'T', 'C')            9047.0         32.0      NaN   0.885572
('13', 32319654, 'A', 'G')            8119.0          NaN      NaN   0.794734
('13', 32321240, 'G', 'C')           10196.0         33.0      NaN   0.998042
('13', 32323151, 'ATT', 'A')          4106.0          NaN      NaN   0.401919
('13', 32325741, 'C', 'T')           10194.0         33.0      NaN   0.997847
('13', 32331128, 'G', 'A')           10194.0         33.0      NaN   0.997847
('13', 32333969, 'A', 'G')           10194.0         33.0      NaN   0.997847
('13', 32338918, 'A', 'G')           10194.0         33.0      NaN   0.997847
('13', 32340868, 'G', 'C')           10193.0         33.0      NaN   0.997749
('13', 32342270, 'CAAA', 'CA')           NaN         24.0      NaN        NaN
('13', 32343709, 'G', 'GA')            635.0          NaN      NaN   0.062157
('13', 32343709, 'GA', 'G')           3580.0          NaN      NaN   0.350431
('13', 32344166, 'GA', 'G')           7460.0          NaN      NaN   0.730227
('13', 32345879, 'G', 'A')           10194.0         33.0      NaN   0.997847
('13', 32346707, 'T', 'C')           10194.0         33.0      NaN   0.997847
('13', 32353757, 'C', 'T')            5163.0          NaN      NaN   0.505384
('13', 32354180, 'T', 'C')           10202.0         33.0      NaN   0.998630
('13', 32354271, 'G', 'A')            8080.0          NaN      NaN   0.790916
('13', 32355250, 'T', 'C')           10202.0         33.0      NaN   0.998630
('13', 32356799, 'G', 'A')           10216.0         33.0      NaN   1.000000
('13', 32359222, 'GAAA', 'GA')           NaN         10.0      NaN        NaN
('13', 32359800, 'A', 'G')           10202.0         33.0      NaN   0.998630
('13', 32362509, 'T', 'C')            8062.0          NaN      NaN   0.789154
('13', 32365177, 'C', 'T')            7875.0          NaN      NaN   0.770850
('13', 32366208, 'C', 'A')            7873.0         25.0      NaN   0.770654
('13', 32367579, 'A', 'AGATGGCTTG')   7883.0          NaN      NaN   0.771633
('13', 32371874, 'A', 'G')           10202.0         32.0      NaN   0.998630
('13', 32372278, 'C', 'T')           10202.0         33.0      NaN   0.998630
('13', 32375245, 'T', 'C')            8016.0          NaN      NaN   0.784652
('13', 32375563, 'C', 'CT')           7971.0          NaN      NaN   0.780247
('13', 32376120, 'A', 'G')            7787.0          NaN      NaN   0.762236
('13', 32377590, 'CAAA', 'CAA')          NaN         30.0      NaN        NaN
('13', 32379251, 'T', 'C')            7834.0          NaN      NaN   0.766836
('13', 32380424, 'G', 'A')            7992.0          NaN      NaN   0.782302
('13', 32380604, 'T', 'A')           10202.0         33.0      NaN   0.998630
('13', 32381260, 'C', 'T')            7827.0          NaN      NaN   0.766151
('13', 32383835, 'G', 'C')               NaN         13.0      NaN        NaN
('13', 32385062, 'C', 'T')            7826.0          NaN      NaN   0.766053
('13', 32385702, 'A', 'C')            7830.0          NaN      NaN   0.766445
('13', 32386226, 'T', 'G')            8009.0          NaN      NaN   0.783966
('13', 32387052, 'G', 'GC')          10202.0         33.0      NaN   0.998630
('13', 32387908, 'A', 'C')            7816.0          NaN      NaN   0.765074
('13', 32387951, 'C', 'T')            7826.0          NaN      NaN   0.766053
('13', 32388121, 'C', 'CT')           9942.0          NaN      NaN   0.973179
('13', 32388121, 'CTT', 'CT')            NaN         14.0      NaN        NaN
('13', 32388181, 'T', 'C')            7829.0          NaN      NaN   0.766347
('13', 32388666, 'C', 'CT')           5653.0          NaN      NaN   0.553348
('13', 32388666, 'C', 'CTT')          5162.0          NaN      NaN   0.505286
('13', 32389570, 'C', 'T')            7987.0          NaN      NaN   0.781813
('13', 32391514, 'T', 'C')           10202.0         33.0      NaN   0.998630
('13', 32392589, 'CA', 'C')           9560.0          NaN      NaN   0.935787
('13', 32393329, 'A', 'G')            7827.0          NaN      NaN   0.766151
('13', 32394454, 'G', 'A')            8006.0          NaN      NaN   0.783673
('13', 32394470, 'A', 'G')            7827.0          NaN      NaN   0.766151
('13', 32396599, 'G', 'C')            7828.0          NaN      NaN   0.766249
('13', 32397288, 'T', 'C')           10202.0         33.0      NaN   0.998630
('13', 32397569, 'AT', 'A')           7827.0          NaN      NaN   0.766151
('13', 32399885, 'C', 'A')           10216.0         33.0      NaN   1.000000
('13', 32400151, 'T', 'A')            9620.0         31.0      NaN   0.941660
('13', 32890572, 'G', 'A')               NaN          NaN   4541.0        NaN
('13', 32893791, 'A', 'G')               NaN          NaN     61.0        NaN
('13', 32900933, 'T', 'A')               NaN          NaN   1022.0        NaN
('13', 32903685, 'C', 'T')               NaN          NaN   3001.0        NaN
('13', 32905265, 'G', 'A')               NaN          NaN   6165.0        NaN
('13', 32910328, 'T', 'C')               NaN          NaN   2941.0        NaN
('13', 32911888, 'A', 'G')               NaN          NaN   5369.0        NaN
('13', 32913055, 'A', 'G')               NaN          NaN  10385.0        NaN
('13', 32915005, 'G', 'C')               NaN          NaN  10382.0        NaN
('13', 32915410, 'CAATT', 'C')           NaN          NaN   5233.0        NaN
('13', 32918941, 'A', 'G')               NaN          NaN   1301.0        NaN
('13', 32918967, 'G', 'A')               NaN          NaN    982.0        NaN
('13', 32920844, 'T', 'C')               NaN          NaN   6657.0        NaN
('13', 32929232, 'A', 'G')               NaN          NaN   4120.0        NaN
('13', 32929387, 'T', 'C')               NaN          NaN  10386.0        NaN
('13', 32930936, 'G', 'A')               NaN          NaN   3019.0        NaN
('13', 32936646, 'T', 'C')               NaN          NaN   7950.0        NaN
('13', 32953388, 'T', 'C')               NaN          NaN   6668.0        NaN
('13', 32958649, 'G', 'A')               NaN          NaN    485.0        NaN
('13', 32959199, 'C', 'T')               NaN          NaN   5919.0        NaN
('13', 32959534, 'A', 'G')               NaN          NaN   3592.0        NaN
('13', 32959839, 'A', 'C')               NaN          NaN   4997.0        NaN
('13', 32961189, 'G', 'GC')              NaN          NaN    180.0        NaN
('13', 32962045, 'A', 'C')               NaN          NaN    204.0        NaN
('13', 32962088, 'C', 'T')               NaN          NaN    144.0        NaN
('13', 32968591, 'G', 'A')               NaN          NaN   1383.0        NaN
('13', 32968607, 'A', 'G')               NaN          NaN   1651.0        NaN
('13', 32971425, 'T', 'C')               NaN          NaN   1967.0        NaN

                                                            \
source                              osteosarcoma      tcga
vus
('13', 32315831, 'G', 'A')              0.848485       NaN
('13', 32318080, 'C', 'T')              1.000000       NaN
('13', 32318598, 'T', 'C')              0.969697       NaN
('13', 32319654, 'A', 'G')                   NaN       NaN
('13', 32321240, 'G', 'C')              1.000000       NaN
('13', 32323151, 'ATT', 'A')                 NaN       NaN
('13', 32325741, 'C', 'T')              1.000000       NaN
('13', 32331128, 'G', 'A')              1.000000       NaN
('13', 32333969, 'A', 'G')              1.000000       NaN
('13', 32338918, 'A', 'G')              1.000000       NaN
('13', 32340868, 'G', 'C')              1.000000       NaN
('13', 32342270, 'CAAA', 'CA')          0.727273       NaN
('13', 32343709, 'G', 'GA')                  NaN       NaN
('13', 32343709, 'GA', 'G')                  NaN       NaN
('13', 32344166, 'GA', 'G')                  NaN       NaN
('13', 32345879, 'G', 'A')              1.000000       NaN
('13', 32346707, 'T', 'C')              1.000000       NaN
('13', 32353757, 'C', 'T')                   NaN       NaN
('13', 32354180, 'T', 'C')              1.000000       NaN
('13', 32354271, 'G', 'A')                   NaN       NaN
('13', 32355250, 'T', 'C')              1.000000       NaN
('13', 32356799, 'G', 'A')              1.000000       NaN
('13', 32359222, 'GAAA', 'GA')          0.303030       NaN
('13', 32359800, 'A', 'G')              1.000000       NaN
('13', 32362509, 'T', 'C')                   NaN       NaN
('13', 32365177, 'C', 'T')                   NaN       NaN
('13', 32366208, 'C', 'A')              0.757576       NaN
('13', 32367579, 'A', 'AGATGGCTTG')          NaN       NaN
('13', 32371874, 'A', 'G')              0.969697       NaN
('13', 32372278, 'C', 'T')              1.000000       NaN
('13', 32375245, 'T', 'C')                   NaN       NaN
('13', 32375563, 'C', 'CT')                  NaN       NaN
('13', 32376120, 'A', 'G')                   NaN       NaN
('13', 32377590, 'CAAA', 'CAA')         0.909091       NaN
('13', 32379251, 'T', 'C')                   NaN       NaN
('13', 32380424, 'G', 'A')                   NaN       NaN
('13', 32380604, 'T', 'A')              1.000000       NaN
('13', 32381260, 'C', 'T')                   NaN       NaN
('13', 32383835, 'G', 'C')              0.393939       NaN
('13', 32385062, 'C', 'T')                   NaN       NaN
('13', 32385702, 'A', 'C')                   NaN       NaN
('13', 32386226, 'T', 'G')                   NaN       NaN
('13', 32387052, 'G', 'GC')             1.000000       NaN
('13', 32387908, 'A', 'C')                   NaN       NaN
('13', 32387951, 'C', 'T')                   NaN       NaN
('13', 32388121, 'C', 'CT')                  NaN       NaN
('13', 32388121, 'CTT', 'CT')           0.424242       NaN
('13', 32388181, 'T', 'C')                   NaN       NaN
('13', 32388666, 'C', 'CT')                  NaN       NaN
('13', 32388666, 'C', 'CTT')                 NaN       NaN
('13', 32389570, 'C', 'T')                   NaN       NaN
('13', 32391514, 'T', 'C')              1.000000       NaN
('13', 32392589, 'CA', 'C')                  NaN       NaN
('13', 32393329, 'A', 'G')                   NaN       NaN
('13', 32394454, 'G', 'A')                   NaN       NaN
('13', 32394470, 'A', 'G')                   NaN       NaN
('13', 32396599, 'G', 'C')                   NaN       NaN
('13', 32397288, 'T', 'C')              1.000000       NaN
('13', 32397569, 'AT', 'A')                  NaN       NaN
('13', 32399885, 'C', 'A')              1.000000       NaN
('13', 32400151, 'T', 'A')              0.939394       NaN
('13', 32890572, 'G', 'A')                   NaN  0.437097
('13', 32893791, 'A', 'G')                   NaN  0.005872
('13', 32900933, 'T', 'A')                   NaN  0.098373
('13', 32903685, 'C', 'T')                   NaN  0.288863
('13', 32905265, 'G', 'A')                   NaN  0.593416
('13', 32910328, 'T', 'C')                   NaN  0.283088
('13', 32911888, 'A', 'G')                   NaN  0.516797
('13', 32913055, 'A', 'G')                   NaN  0.999615
('13', 32915005, 'G', 'C')                   NaN  0.999326
('13', 32915410, 'CAATT', 'C')               NaN  0.503706
('13', 32918941, 'A', 'G')                   NaN  0.125229
('13', 32918967, 'G', 'A')                   NaN  0.094523
('13', 32920844, 'T', 'C')                   NaN  0.640774
('13', 32929232, 'A', 'G')                   NaN  0.396573
('13', 32929387, 'T', 'C')                   NaN  0.999711
('13', 32930936, 'G', 'A')                   NaN  0.290596
('13', 32936646, 'T', 'C')                   NaN  0.765232
('13', 32953388, 'T', 'C')                   NaN  0.641833
('13', 32958649, 'G', 'A')                   NaN  0.046684
('13', 32959199, 'C', 'T')                   NaN  0.569737
('13', 32959534, 'A', 'G')                   NaN  0.345750
('13', 32959839, 'A', 'C')                   NaN  0.480990
('13', 32961189, 'G', 'GC')                  NaN  0.017326
('13', 32962045, 'A', 'C')                   NaN  0.019636
('13', 32962088, 'C', 'T')                   NaN  0.013861
('13', 32968591, 'G', 'A')                   NaN  0.133122
('13', 32968607, 'A', 'G')                   NaN  0.158918
('13', 32971425, 'T', 'C')                   NaN  0.189335

                                    no_pathogenic_coocurrs
source                                            copdgene osteosarcoma tcga
vus
('13', 32315831, 'G', 'A')                             1.0          1.0  NaN
('13', 32318080, 'C', 'T')                             1.0          1.0  NaN
('13', 32318598, 'T', 'C')                             1.0          1.0  NaN
('13', 32319654, 'A', 'G')                             1.0          NaN  NaN
('13', 32321240, 'G', 'C')                             1.0          1.0  NaN
('13', 32323151, 'ATT', 'A')                           1.0          NaN  NaN
('13', 32325741, 'C', 'T')                             1.0          1.0  NaN
('13', 32331128, 'G', 'A')                             1.0          1.0  NaN
('13', 32333969, 'A', 'G')                             1.0          1.0  NaN
('13', 32338918, 'A', 'G')                             1.0          1.0  NaN
('13', 32340868, 'G', 'C')                             1.0          1.0  NaN
('13', 32342270, 'CAAA', 'CA')                         NaN          1.0  NaN
('13', 32343709, 'G', 'GA')                            1.0          NaN  NaN
('13', 32343709, 'GA', 'G')                            1.0          NaN  NaN
('13', 32344166, 'GA', 'G')                            1.0          NaN  NaN
('13', 32345879, 'G', 'A')                             1.0          1.0  NaN
('13', 32346707, 'T', 'C')                             1.0          1.0  NaN
('13', 32353757, 'C', 'T')                             1.0          NaN  NaN
('13', 32354180, 'T', 'C')                             1.0          1.0  NaN
('13', 32354271, 'G', 'A')                             1.0          NaN  NaN
('13', 32355250, 'T', 'C')                             1.0          1.0  NaN
('13', 32356799, 'G', 'A')                             1.0          1.0  NaN
('13', 32359222, 'GAAA', 'GA')                         NaN          1.0  NaN
('13', 32359800, 'A', 'G')                             1.0          1.0  NaN
('13', 32362509, 'T', 'C')                             1.0          NaN  NaN
('13', 32365177, 'C', 'T')                             1.0          NaN  NaN
('13', 32366208, 'C', 'A')                             1.0          1.0  NaN
('13', 32367579, 'A', 'AGATGGCTTG')                    1.0          NaN  NaN
('13', 32371874, 'A', 'G')                             1.0          1.0  NaN
('13', 32372278, 'C', 'T')                             1.0          1.0  NaN
('13', 32375245, 'T', 'C')                             1.0          NaN  NaN
('13', 32375563, 'C', 'CT')                            1.0          NaN  NaN
('13', 32376120, 'A', 'G')                             1.0          NaN  NaN
('13', 32377590, 'CAAA', 'CAA')                        NaN          1.0  NaN
('13', 32379251, 'T', 'C')                             1.0          NaN  NaN
('13', 32380424, 'G', 'A')                             1.0          NaN  NaN
('13', 32380604, 'T', 'A')                             1.0          1.0  NaN
('13', 32381260, 'C', 'T')                             1.0          NaN  NaN
('13', 32383835, 'G', 'C')                             NaN          1.0  NaN
('13', 32385062, 'C', 'T')                             1.0          NaN  NaN
('13', 32385702, 'A', 'C')                             1.0          NaN  NaN
('13', 32386226, 'T', 'G')                             1.0          NaN  NaN
('13', 32387052, 'G', 'GC')                            1.0          1.0  NaN
('13', 32387908, 'A', 'C')                             1.0          NaN  NaN
('13', 32387951, 'C', 'T')                             1.0          NaN  NaN
('13', 32388121, 'C', 'CT')                            1.0          NaN  NaN
('13', 32388121, 'CTT', 'CT')                          NaN          1.0  NaN
('13', 32388181, 'T', 'C')                             1.0          NaN  NaN
('13', 32388666, 'C', 'CT')                            1.0          NaN  NaN
('13', 32388666, 'C', 'CTT')                           1.0          NaN  NaN
('13', 32389570, 'C', 'T')                             1.0          NaN  NaN
('13', 32391514, 'T', 'C')                             1.0          1.0  NaN
('13', 32392589, 'CA', 'C')                            1.0          NaN  NaN
('13', 32393329, 'A', 'G')                             1.0          NaN  NaN
('13', 32394454, 'G', 'A')                             1.0          NaN  NaN
('13', 32394470, 'A', 'G')                             1.0          NaN  NaN
('13', 32396599, 'G', 'C')                             1.0          NaN  NaN
('13', 32397288, 'T', 'C')                             1.0          1.0  NaN
('13', 32397569, 'AT', 'A')                            1.0          NaN  NaN
('13', 32399885, 'C', 'A')                             1.0          1.0  NaN
('13', 32400151, 'T', 'A')                             1.0          1.0  NaN
('13', 32890572, 'G', 'A')                             NaN          NaN  1.0
('13', 32893791, 'A', 'G')                             NaN          NaN  1.0
('13', 32900933, 'T', 'A')                             NaN          NaN  1.0
('13', 32903685, 'C', 'T')                             NaN          NaN  1.0
('13', 32905265, 'G', 'A')                             NaN          NaN  6.0
('13', 32910328, 'T', 'C')                             NaN          NaN  1.0
('13', 32911888, 'A', 'G')                             NaN          NaN  1.0
('13', 32913055, 'A', 'G')                             NaN          NaN  7.0
('13', 32915005, 'G', 'C')                             NaN          NaN  7.0
('13', 32915410, 'CAATT', 'C')                         NaN          NaN  1.0
('13', 32918941, 'A', 'G')                             NaN          NaN  1.0
('13', 32918967, 'G', 'A')                             NaN          NaN  1.0
('13', 32920844, 'T', 'C')                             NaN          NaN  5.0
('13', 32929232, 'A', 'G')                             NaN          NaN  1.0
('13', 32929387, 'T', 'C')                             NaN          NaN  7.0
('13', 32930936, 'G', 'A')                             NaN          NaN  3.0
('13', 32936646, 'T', 'C')                             NaN          NaN  3.0
('13', 32953388, 'T', 'C')                             NaN          NaN  3.0
('13', 32958649, 'G', 'A')                             NaN          NaN  1.0
('13', 32959199, 'C', 'T')                             NaN          NaN  1.0
('13', 32959534, 'A', 'G')                             NaN          NaN  1.0
('13', 32959839, 'A', 'C')                             NaN          NaN  1.0
('13', 32961189, 'G', 'GC')                            NaN          NaN  1.0
('13', 32962045, 'A', 'C')                             NaN          NaN  1.0
('13', 32962088, 'C', 'T')                             NaN          NaN  1.0
('13', 32968591, 'G', 'A')                             NaN          NaN  1.0
('13', 32968607, 'A', 'G')                             NaN          NaN  1.0
('13', 32971425, 'T', 'C')                             NaN          NaN  2.0

Note, the TCGA locations are in GRCh37 coordinates. The cooccurrence code uses the location as the identifier of the vus. Need to match variants across reference genomes.