## Running the VUS cooccurence workflow via WES on TopMed COPDGene data
Other than the COPDGene vcf file which was the target of the analysis, the files used in the example were uploaded to the BioDataCatalyst Seven Bridges server.

Prior to the workflow the COPDGene_phs000951_TOPMed_WGS_freeze.8.chr13.hg38.c1.vcf was filtered down to the range of BRCA2 by using BCFTools.

In [1]:
from fasp.workflow import sbWESClient
cl = sbWESClient('https://ga4gh-api.sb.biodatacatalyst.nhlbi.nih.gov/ga4gh/wes/v1', 'forei/fasp-vus',
                     '~/.keys/sbbdc_key.json', debug=True)

/Users/forei/imfenvs/fasp/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

## Setting up the WES run

In [2]:
params = {
    "project": "forei/fasp-vus",
    "inputs": {
        'vcf_file': {'path': 'drs://ga4gh-api.sb.biodatacatalyst.nhlbi.nih.gov/617c77bce6261a31b6d12f0a',
                     'name': 'COPDGene_phs000951_TOPMed_WGS_freeze.8.chr13.hg38.c1.filtered.vcf',
                     'class': 'File'},

        'pathogenicity_file': {'path': 'drs://ga4gh-api.sb.biodatacatalyst.nhlbi.nih.gov/617c5ce6e6261a31b6d12ddc',
                               'name': 'clinvar_brca2.tsv',
                               'class': 'File'}
        }
    }

Now we have formulated the body in the way that it can be passed to a client function as follows.

In [3]:
import json
run_id= cl.runGenericWorkflow(
    workflow_url="sbg://forei/fasp-vus/cooccurrence/2",
    workflow_params = json.dumps(params),
    workflow_type = "CWL",
    workflow_type_version = "sbg:draft-2"
)
run_id

'b20b60f9-5125-4088-b61f-de791c9278b0'

In [8]:
import dateutil.parser
print(cl.getTaskStatus(run_id))
log = cl.GetRunLog(run_id)
if log['run_log']['start_time']:
    start = dateutil.parser.isoparse(log['run_log']['start_time'])
    end = dateutil.parser.isoparse(log['run_log']['end_time'])
    duration = end - start
    print(str(duration))

COMPLETE
0:17:40

In [9]:
cl.GetRunLog(run_id)

{'request': {'tags': {},
  'workflow_params': {'name': 'cooccurrence run - 11-08-21 01:35:26',
   'project': 'forei/fasp-vus',
   'inputs': {'p2': None,
    'save_files': None,
    'gene': None,
    'chromosome': None,
    'data_directory': None,
    'ensembl_release': None,
    'pathology_file': None,
    'gnomad_file': None,
    'hg_version': None,
    'vcf_file': {'path': 'drs://ga4gh-api.sb.biodatacatalyst.nhlbi.nih.gov/617c77bce6261a31b6d12f0a',
     'name': 'COPDGene_phs000951_TOPMed_WGS_freeze.8.chr13.hg38.c1.filtered.vcf',
     'class': 'File'},
    'phased': None,
    'pathogenicity_file': {'path': 'drs://ga4gh-api.sb.biodatacatalyst.nhlbi.nih.gov/617f4673fe2ce0023102842c',
     'name': 'clinvar_brca2.tsv',
     'class': 'File'}}},
  'workflow_type': 'CWL',
  'workflow_engine_params': {},
  'workflow_url': 'sbg://forei/fasp-vus/cooccurrence/3'},
 'state': 'COMPLETE',
 'outputs': {'vpi_file': {'path': 'drs://ga4gh-api.sb.biodatacatalyst.nhlbi.nih.gov/61888303e6261a31b6ddaf9f',
   'name': '_7_BRCA2-vpi.json',
   'class': 'File'},
  'pathology_output': None,
  'all_file': {'path': 'drs://ga4gh-api.sb.biodatacatalyst.nhlbi.nih.gov/61888303e6261a31b6ddaf97',
   'name': '_7_BRCA2-all.json',
   'class': 'File'},
  'out_file': {'path': 'drs://ga4gh-api.sb.biodatacatalyst.nhlbi.nih.gov/61888303e6261a31b6ddaf9b',
   'name': '_8_BRCA2-cooccurrences.json',
   'class': 'File'},
  'ipv_file': {'path': 'drs://ga4gh-api.sb.biodatacatalyst.nhlbi.nih.gov/61888303e6261a31b6ddaf99',
   'name': '_7_BRCA2-ipv.json',
   'class': 'File'},
  'tout_file': {'path': 'drs://ga4gh-api.sb.biodatacatalyst.nhlbi.nih.gov/61888303e6261a31b6ddaf9d',
   'name': '_7_BRCA2-tout.json',
   'class': 'File'}},
 'run_id': '5e2293c5-7cf2-44ab-9914-51c5b788e860',
 'run_log': {'name': 'cooccurrence run - 11-08-21 01:35:26',
  'cmd': None,
  'start_time': '2021-11-08T01:35:27Z',
  'end_time': '2021-11-08T01:53:07Z',
  'stdout': None,
  'stderr': None,
  'exit_code': 0},
 'task_logs': [{'name': 'cooccurrence',
   'cmd': '/usr/bin/python3 /federated-analysis/app/cooccurrence/cooccurrenceFinder.py --g BRCA2 --vcf /sbgenomics/Projects/2aa9e16d-ede5-43d6-9605-04fab05f34b3/COPDGene_phs000951_TOPMed_WGS_freeze.8.chr13.hg38.c1.filtered.vcf --h 38 --e 99 --c 13 --p True --p2 0.001 --vpf /sbgenomics/Projects/2aa9e16d-ede5-43d6-9605-04fab05f34b3/clinvar_brca2.tsv --d /var/tmp/pyensembl-cache --save True',
   'start_time': '2021-11-08T01:39:07Z',
   'end_time': '2021-11-08T01:53:04Z',
   'stdout': 'drs://ga4gh-api.sb.biodatacatalyst.nhlbi.nih.gov/618882fefe2ce00231283778',
   'stderr': 'drs://ga4gh-api.sb.biodatacatalyst.nhlbi.nih.gov/618882fefe2ce00231283778',
   'exit_code': 0}]}

## Getting the results - via DRS
Once the run is complete, further steps can use DRS to obtain the file output from the workflow.

In [10]:
runLog = cl.GetRunLog(run_id)
runLog['outputs']

{'vpi_file': {'path': 'drs://ga4gh-api.sb.biodatacatalyst.nhlbi.nih.gov/61888303e6261a31b6ddaf9f',
  'name': '_7_BRCA2-vpi.json',
  'class': 'File'},
 'pathology_output': None,
 'all_file': {'path': 'drs://ga4gh-api.sb.biodatacatalyst.nhlbi.nih.gov/61888303e6261a31b6ddaf97',
  'name': '_7_BRCA2-all.json',
  'class': 'File'},
 'out_file': {'path': 'drs://ga4gh-api.sb.biodatacatalyst.nhlbi.nih.gov/61888303e6261a31b6ddaf9b',
  'name': '_8_BRCA2-cooccurrences.json',
  'class': 'File'},
 'ipv_file': {'path': 'drs://ga4gh-api.sb.biodatacatalyst.nhlbi.nih.gov/61888303e6261a31b6ddaf99',
  'name': '_7_BRCA2-ipv.json',
  'class': 'File'},
 'tout_file': {'path': 'drs://ga4gh-api.sb.biodatacatalyst.nhlbi.nih.gov/61888303e6261a31b6ddaf9d',
  'name': '_7_BRCA2-tout.json',
  'class': 'File'}}

In [11]:
resultsDRSID = runLog['outputs']['out_file']['path']
resultsDRSID

'drs://ga4gh-api.sb.biodatacatalyst.nhlbi.nih.gov/61888303e6261a31b6ddaf9b'

Use the BioDataCatalyst SB DRS Server to retrieve the results files

In [12]:
from fasp.loc import sbbdcDRSClient
drsClient = sbbdcDRSClient('~/.keys/sevenbridges_keys.json', 's3')

### DRS GetObject
Here's how we then get details of the file. Note that here only the id portion of the DRS URI is being passed. It is the job of a metaresolver to look at that URI and to determine where to send the id. As noted, we are passing up on the opportunity to use a metaresolver and putting in the id manually.

In [13]:
sbDRSID = resultsDRSID.split('/')[-1]
fileDetails = drsClient.getObject(sbDRSID)
fileDetails

{'id': '61888303e6261a31b6ddaf9b',
 'name': '_8_BRCA2-cooccurrences.json',
 'size': 62350,
 'checksums': [{'type': 'etag',
   'checksum': 'd5083e440a457338aa9bf845a7c92ee9-1'}],
 'self_uri': 'drs://ga4gh-api.sb.biodatacatalyst.nhlbi.nih.gov/61888303e6261a31b6ddaf9b',
 'created_time': '2021-11-08T01:53:07Z',
 'updated_time': '2021-11-08T01:53:07Z',
 'mime_type': 'application/json',
 'access_methods': [{'type': 's3',
   'region': 'us-east-1',
   'access_id': 'aws-us-east-1'}]}

In [14]:
url = drsClient.getAccessURL(sbDRSID,'s3')

### Downloading the file
Now we can use the url obtained to download the file. We'll create a small function to encapsulate the download.

In [15]:
import requests
import os
def download(url, file_path):
    with open(os.path.expanduser(file_path), "wb") as file:
        response = requests.get(url)
        file.write(response.content)

In [17]:
fullPath = fileDetails['name']
download(url, fullPath)

In [18]:
with open(fullPath) as json_file:
    data = json.load(json_file)
# delete the local copy of the file
os.remove(fullPath)
# and look at the contents
# data

In [19]:
# flatten cooccurrence output
flat_vus = []
for k, v in data['cooccurring vus'].items():
    pathogenic_count = len(v['pathogenic variants'])
    ## this is a pythonic way of merging dicts - it is cryptic
    z = {**{"vus":k}, **v['likelihood data'], **v['allele frequencies'], **{"no_pathogenic_coocurrs":pathogenic_count}}
    flat_vus.append(z)

# turn the array of dicts into a data frame    
import pandas as pd
flat_df = pd.DataFrame(flat_vus)
flat_df

,vus,p1,p2,n,k,likelihood,maxPop,maxPopFreq,cohortFreq,no_pathogenic_coocurrs
0,"('13', 32315831, 'G', 'A')",0.000049,0.001,9345,1,0.002811,NaN,NaN,0.914742,1
1,"('13', 32318080, 'C', 'T')",0.000049,0.001,10195,2,0.025604,NaN,NaN,0.997944,1
2,"('13', 32321240, 'G', 'C')",0.000049,0.001,10196,2,0.025580,NaN,NaN,0.998042,1
3,"('13', 32325741, 'C', 'T')",0.000049,0.001,10194,2,0.025628,NaN,NaN,0.997847,1
4,"('13', 32331128, 'G', 'A')",0.000049,0.001,10194,2,0.025628,NaN,NaN,0.997847,1
5,"('13', 32333969, 'A', 'G')",0.000049,0.001,10194,2,0.025628,NaN,NaN,0.997847,1
6,"('13', 32338918, 'A', 'G')",0.000049,0.001,10194,2,0.025628,NaN,NaN,0.997847,1
7,"('13', 32340868, 'G', 'C')",0.000049,0.001,10193,2,0.025653,NaN,NaN,0.997749,1
8,"('13', 32344166, 'GA', 'G')",0.000049,0.001,7460,1,0.016898,NaN,NaN,0.730227,1
9,"('13', 32345879, 'G', 'A')",0.000049,0.001,10194,2,0.025628,NaN,NaN,0.997847,1
10,"('13', 32346707, 'T', 'C')",0.000049,0.001,10194,2,0.025628,NaN,NaN,0.997847,1
11,"('13', 32353757, 'C', 'T')",0.000049,0.001,5163,1,0.150344,NaN,NaN,0.505384,1
12,"('13', 32354180, 'T', 'C')",0.000049,0.001,10202,2,0.025434,NaN,NaN,0.998630,1
13,"('13', 32354271, 'G', 'A')",0.000049,0.001,8080,1,0.009367,NaN,NaN,0.790916,1
14,"('13', 32355250, 'T', 'C')",0.000049,0.001,10202,2,0.025434,NaN,NaN,0.998630,1
15,"('13', 32356799, 'G', 'A')",0.000049,0.001,10216,2,0.025097,NaN,NaN,1.000000,1
16,"('13', 32359800, 'A', 'G')",0.000049,0.001,10202,2,0.025434,NaN,NaN,0.998630,1
17,"('13', 32362509, 'T', 'C')",0.000049,0.001,8062,1,0.009529,NaN,NaN,0.789154,1
18,"('13', 32365177, 'C', 'T')",0.000049,0.001,7875,1,0.011385,NaN,NaN,0.770850,1
19,"('13', 32366208, 'C', 'A')",0.000049,0.001,7873,1,0.011407,NaN,NaN,0.770654,1
20,"('13', 32367579, 'A', 'AGATGGCTTG')",0.000049,0.001,7883,1,0.011299,NaN,NaN,0.771633,1
21,"('13', 32371874, 'A', 'G')",0.000049,0.001,10202,2,0.025434,NaN,NaN,0.998630,1
22,"('13', 32372278, 'C', 'T')",0.000049,0.001,10202,2,0.025434,NaN,NaN,0.998630,1
23,"('13', 32375245, 'T', 'C')",0.000049,0.001,8016,1,0.009956,NaN,NaN,0.784652,1
24,"('13', 32375563, 'C', 'CT')",0.000049,0.001,7971,1,0.010391,NaN,NaN,0.780247,1
25,"('13', 32376120, 'A', 'G')",0.000049,0.001,7787,1,0.012379,NaN,NaN,0.762236,1
26,"('13', 32379251, 'T', 'C')",0.000049,0.001,7834,1,0.011838,NaN,NaN,0.766836,1
27,"('13', 32380424, 'G', 'A')",0.000049,0.001,7992,1,0.010186,NaN,NaN,0.782302,1
28,"('13', 32380604, 'T', 'A')",0.000049,0.001,10202,2,0.025434,NaN,NaN,0.998630,1
29,"('13', 32381260, 'C', 'T')",0.000049,0.001,7827,1,0.011917,NaN,NaN,0.766151,1
30,"('13', 32385062, 'C', 'T')",0.000049,0.001,7826,1,0.011928,NaN,NaN,0.766053,1
31,"('13', 32385702, 'A', 'C')",0.000049,0.001,7830,1,0.011883,NaN,NaN,0.766445,1
32,"('13', 32386226, 'T', 'G')",0.000049,0.001,8009,1,0.010022,NaN,NaN,0.783966,1
33,"('13', 32387052, 'G', 'GC')",0.000049,0.001,10202,2,0.025434,NaN,NaN,0.998630,1
34,"('13', 32387908, 'A', 'C')",0.000049,0.001,7816,1,0.012043,NaN,NaN,0.765074,1
35,"('13', 32387951, 'C', 'T')",0.000049,0.001,7826,1,0.011928,NaN,NaN,0.766053,1
36,"('13', 32388121, 'C', 'CT')",0.000049,0.001,9942,2,0.032573,NaN,NaN,0.973179,1
37,"('13', 32388181, 'T', 'C')",0.000049,0.001,7829,1,0.011894,NaN,NaN,0.766347,1
38,"('13', 32388666, 'C', 'CT')",0.000049,0.001,5653,1,0.094317,NaN,NaN,0.553348,1
39,"('13', 32389570, 'C', 'T')",0.000049,0.001,7987,1,0.010234,NaN,NaN,0.781813,1
40,"('13', 32391514, 'T', 'C')",0.000049,0.001,10202,2,0.025434,NaN,NaN,0.998630,1
41,"('13', 32392589, 'CA', 'C')",0.000049,0.001,9560,1,0.002291,NaN,NaN,0.935787,1
42,"('13', 32393329, 'A', 'G')",0.000049,0.001,7827,1,0.011917,NaN,NaN,0.766151,1
43,"('13', 32394454, 'G', 'A')",0.000049,0.001,8006,1,0.010051,NaN,NaN,0.783673,1
44,"('13', 32394470, 'A', 'G')",0.000049,0.001,7827,1,0.011917,NaN,NaN,0.766151,1
45,"('13', 32396599, 'G', 'C')",0.000049,0.001,7828,1,0.011906,NaN,NaN,0.766249,1
46,"('13', 32397288, 'T', 'C')",0.000049,0.001,10202,2,0.025434,NaN,NaN,0.998630,1
47,"('13', 32397569, 'AT', 'A')",0.000049,0.001,7827,1,0.011917,NaN,NaN,0.766151,1
48,"('13', 32399885, 'C', 'A')",0.000049,0.001,10216,2,0.025097,NaN,NaN,1.000000,1
49,"('13', 32400151, 'T', 'A')",0.000049,0.001,9620,2,0.044252,NaN,NaN,0.941660,1
50,"('13', 32388666, 'C', 'CTT')",0.000049,0.001,5162,1,0.150487,NaN,NaN,0.505286,1
51,"('13', 32318598, 'T', 'C')",0.000049,0.001,9047,1,0.003733,NaN,NaN,0.885572,1
52,"('13', 32319654, 'A', 'G')",0.000049,0.001,8119,1,0.009026,NaN,NaN,0.794734,1
53,"('13', 32343709, 'GA', 'G')",0.000049,0.001,3580,1,0.678061,NaN,NaN,0.350431,1
54,"('13', 32323151, 'ATT', 'A')",0.000049,0.001,4106,1,0.411052,NaN,NaN,0.401919,1
55,"('13', 32343709, 'G', 'GA')",0.000049,0.001,635,1,11.176525,NaN,NaN,0.062157,1

In [20]:
# homozygous vus output
homozygous_vus = []
for k, v in data['homozygous vus'].items():
    ## this is a pythonic way of merging dicts - it is cryptic
    z = {**{"vus":k}, **v}
    homozygous_vus.append(z)

# turn the array of dicts into a data frame    
import pandas as pd
hz_df = pd.DataFrame(homozygous_vus)
hz_df

                                 vus  count  cohortFreq
0     ('13', 32317314, 'CAAGT', 'C')    649    0.063528
1         ('13', 32318080, 'C', 'T')   9765    0.955854
2         ('13', 32321240, 'G', 'C')   9766    0.955951
3         ('13', 32325741, 'C', 'T')   9762    0.955560
4        ('13', 32327768, 'A', 'AT')   1144    0.111981
..                               ...    ...         ...
549  ('13', 32376115, 'GTGAAA', 'G')      1    0.000098
550       ('13', 32383177, 'G', 'A')      1    0.000098
551       ('13', 32323006, 'A', 'G')      1    0.000098
552       ('13', 32356237, 'T', 'A')      1    0.000098
553      ('13', 32368001, 'C', 'CT')      1    0.000098

[554 rows x 3 columns]

## To do
- Submit the pathogenicity file from the local system
- Either  access the gnomad file from Gnomad, or supply it from the local system

## Done
- Make the container available to other WES servers by adding the Docker container to Docker Hub instead of the Seven Bridges docker repository